<head>
    <title>Simple ToDo app</title>
</head>
<body>
    <div id="app" style="justify-content: center; display:grid; zoom: 180%;">
    </div>
    <!-- react stuff-->
    <div id="react_app" ></div>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <script type="text/jsx" src="./todo_react.js"></script>

    <!-- vanillaJS -->
    <script>
        let model = {
            taskArr : [], // arr of {value:, checked:}
            selectedFilter : "all",
        };

        function setup(model, element){
            let form = document.createElement("form");
            form.setAttribute('style',"display: flex; justify-content: center; margin-top: 60px;");
            form.setAttribute('onSubmit', "addTask(); return false;");

            let inputText = document.createElement("input");
            inputText.setAttribute("id", "input");
            inputText.setAttribute("type","text");
            inputText.setAttribute("placeholder","New task");

            let inputButton = document.createElement("input");
            inputButton.setAttribute("type","submit");
            inputButton.setAttribute("value","Add to list");

            let filterLabel = document.createElement("label");
            filterLabel.setAttribute("style", "margin-left: 20px;");
            filterLabel.innerHTML = "Filter by:";

            let showAllRadio = document.createElement("input");
            showAllRadio.setAttribute("type", "radio");
            showAllRadio.setAttribute("id", "showAll");
            showAllRadio.setAttribute("name", "doneFilter");
            showAllRadio.setAttribute("onclick", "model.selectedFilter = 'all'; render(model, document.querySelector('#taskOList'));")

            let filterLabelAll = document.createElement("label");
            filterLabelAll.setAttribute("for", "showAll");
            filterLabelAll.innerHTML = "All";

            let showDoneRadio = document.createElement("input");
            showDoneRadio.setAttribute("type", "radio");
            showDoneRadio.setAttribute("id", "showDone");
            showDoneRadio.setAttribute("name", "doneFilter");
            showDoneRadio.setAttribute("onclick", "model.selectedFilter = 'done'; render(model, document.querySelector('#taskOList'));")

            let filterLabelDone = document.createElement("label");
            filterLabelDone.setAttribute("for", "showDone");
            filterLabelDone.innerHTML = "Done";

            let showLeftRadio = document.createElement("input");
            showLeftRadio.setAttribute("type", "radio");
            showLeftRadio.setAttribute("id", "showLeft");
            showLeftRadio.setAttribute("name", "doneFilter");
            showLeftRadio.setAttribute("onclick", "model.selectedFilter = 'left'; render(model, document.querySelector('#taskOList'));")

            let filterLabelLeft = document.createElement("label");
            filterLabelLeft.setAttribute("for", "showLeft");
            filterLabelLeft.innerHTML = "Left";
            
            form.appendChild(inputText);
            form.appendChild(inputButton);
            form.appendChild(filterLabel);
            form.appendChild(showAllRadio);
            form.appendChild(filterLabelAll)
            form.appendChild(showDoneRadio);
            form.appendChild(filterLabelDone);
            form.appendChild(showLeftRadio);
            form.appendChild(filterLabelLeft);

            element.appendChild(form)

            let taskList = document.createElement("ol");
            taskList.setAttribute("id", "taskOList")
            element.appendChild(taskList);
        }

        function addTask(){
            let input = document.querySelector("#input").value;
            if(input.length === 0 || model.taskArr.map((e) => e.value).includes(input))
            {
                alert("invalid input: " + document.querySelector("#input").value);
            }else{
                model.taskArr.push({value: input, checked: false,});
                render(model, document.querySelector('#taskOList'));
                document.querySelector("#input").value = "";
            }
            return false;
        }

        function render(m_model, element){   // renders list each time it changed(both addition/deletion and filter)
            //clears current list
            let child = element.lastElementChild; 
            while (child) {
                element.removeChild(child);
                child = element.lastElementChild;
            }

            //renders new list depended on filter selected and model.checked
            switch (m_model.selectedFilter){
                case "all":{
                    for(let i of m_model.taskArr){
                        let li = createLi(i);
                        element.appendChild(li);
                    }
                    break;
                }
                case "done":{
                    for(let i of m_model.taskArr){
                        if(i.checked){
                            let li = createLi(i);
                            element.appendChild(li);
                        }
                    }
                    break;
                }
                case "left":{
                    for(let i of m_model.taskArr){
                        if(!i.checked){
                            let li = createLi(i);
                            element.appendChild(li);
                        }
                    }
                    break;
                }
            }
            
        }

        function createLi(taskObj){   //creates li for task{value, checked} object from model.taskArr and returns it
            const index = model.taskArr.indexOf(taskObj);

            let item = document.createElement("li");
            let removeButton = document.createElement("input");
            removeButton.type = "button";
            removeButton.value = "remove";
            removeButton.style = "margin-left:10px";
            let doneCHeckbox = document.createElement("input");
            doneCHeckbox.setAttribute("type", "checkbox");
            doneCHeckbox.style = "margin-left:10px";
            let label = document.createElement('label');
            label.innerHTML = taskObj.value;

            if(model.taskArr[index].checked){
                label.style = "text-decoration: line-through;";
                doneCHeckbox.checked = true;
            }

            removeButton.onclick = () => {
                if (index > -1) {
                    model.taskArr.splice(index, 1);
                    render(model, document.querySelector('#taskOList'));
                }
            }
            doneCHeckbox.onchange = (event) => {
                if(event.currentTarget.checked){
                    label.style="text-decoration: line-through;";
                    model.taskArr[index].checked = true;
                }else{
                    label.style="text-decoration: none;";
                    model.taskArr[index].checked = false;
                }
            }
            item.appendChild(label);
            item.appendChild(doneCHeckbox);
            item.appendChild(removeButton);
            
            return item;
        }
        setup(model, document.querySelector("#app"));
    </script>
</body>